* {
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
    /* width: 1600px; */
}

/* header */
.header {
    padding: 216px 230px 166px 800px;
    background-image: url(../images/banner/banner1.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 808px; */
    text-align: right;
}

.header-title {
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    margin-bottom: 24px;
    /* text-align: right; */
}

.header-description {
    /* font-weight: 400;
    font-size: 16px; */
    margin: 24px 0px 32px 0px;
    color: #444343;
}

/* 
button */
.primary-btn {
    background-color: #F15B22;
    padding: 20px 25px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px;
    border: none;
}

/* 
header done */

/* main-part */
.main-iteam {
    padding-top: 131px;
}

.main-part {
    display: flex;
    align-items: center;
    margin-left: 206px;
    gap: 87px;
    margin-right: 322px;
    margin-bottom: ;
}

.main-title {

    font-weight: 700;
    font-size: 40px;
}

.main-description {
    color: #444343;
    margin: 22px 0 16px 0;
}

.list-oder {
    margin-bottom: 16px;
    color: #444343;
}

.main-1st-part {
    margin-bottom: 130px;
}

/* 2nd-main-part */
.my-plan {
    text-align: center;
}

.logo {
    display: flex;
    margin: 0 230px;
    justify-content: center;
    gap: 86px;
    margin-top: 55px;
    margin-bottom: 130px;

}

.logo-description {
    /* align-items: center; */
    text-align: center;
}

/* 
blend-pictures */

.blend {
    margin: 0 230px 130px 230px;
    background-image: url(../images/watch.png), url(../images/gradient2.png);
    background-blend-mode: lighten;
    padding: 59px 617px 59px 64px;
    background-repeat: no-repeat;
    background-size: cover;
}

.blend-text {
    font-weight: 700;
    font-size: 40px;
    width: 459px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.btn-blend {
    padding: 21px 36px;
    color: #F15B22;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: none;
}